[Unit]
Description=gcallbacks Application

[Service]
ExecStart=/apps/gcallbacks

WorkingDirectory=/apps/gcallbacks/app

User=focus
Group=focus

Restart=always

[Install]
WantedBy=multi-user.target  
