[Unit]
Description=Callbacks Application

[Service]
ExecStart=/apps/gocode/bin/returns

WorkingDirectory=/apps/gocode/bin

User=ekt
Group=users

Restart=always

[Install]
WantedBy=multi-user.target
