[Unit]
Description=Callbacks Application

[Service]
ExecStart=/apps/returns/returns

WorkingDirectory=/apps/returns

User=focus
Group=focus

Restart=always

[Install]
WantedBy=multi-user.target
